<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body>
    <!-- header -->
    <header th:replace="~{navbar :: navbar}"></header>
    <!-- fim header -->

    <!-- main -->
     <!-- <main>
        <div class="container">
            <img src="img/logoHome.jpg" alt="home" />
        </div>
     </main> -->
     <!-- fim da main -->

    
    <!-- cards -->
    <div class="container bg-body-tertiary">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4" style="margin: 5px;">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Nome Nome Nome</h5>
                        <h6 class="card-subtitle mb-2 text-body-secondary">Id</h6>
                        <p class="card-text">Local: Aaaa aa Aaaaaa</p>
                        <p class="card-text">Data: 00/00/0000</p>
                        <p class="card-text">Hora: 00:00</p>
                        <!-- <a href="#" class="card-link">Card link</a>
                        <a href="#" class="card-link">Another link</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- fim cards -->
    <!-- footer -->
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center"> <a href="/"
                    class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> <svg
                        class="bi" width="30" height="24" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                    </svg> </a> <span class="mb-3 mb-md-0 text-body-secondary">© 2025 Company, Inc</span> </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Instagram"><svg class="bi"
                            width="24" height="24" aria-hidden="true">
                            <use xlink:href="#instagram"></use>
                        </svg></a></li>
                <li class="ms-3"><a class="text-body-secondary" href="#" aria-label="Facebook"><svg class="bi"
                            width="24" height="24">
                            <use xlink:href="#facebook"></use>
                        </svg></a></li>
            </ul>
        </footer>
    </div>
    <!-- fim footer -->






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
</body>

</html>